<div class="container">

    <h3>{{errorMsg}}</h3>
    <table class="table table-striped table-dark">
        <thead>
            <th>Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let myUser of myUsers">
                <td>{{myUser.name}}</td>
            </tr>
        </tbody>
       
    </table>
    <div class="row">
        <h2 class="text-center">Error Handling</h2>
        <div class="col-md-4">
            <div class="card">
                <h4 class="card-title text-center bg-success text-white p-2">
                    app.module.ts
                </h4>
             
                    <div class="card-text p-2" >
                        <p>
                            1. Include HttpClientModule and makesure import.
                        </p>
                        <p>
                            2. Include service in Provider and makesure import.
                        </p>
                    
                      
                    </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h4 class="card-title text-center bg-success text-white p-2">
                    Service.ts
                </h4>
             
                    <div class="card-text p-2" >
                        <p>
                            1. Dependency injection in constructor(private _http:HttpClient)
                            and makesure import.
 
                        </p>
                        <p>
                            2. Get API: methodName():Observable crulyBrace 
                            this._http.get("urlAddress").pipe(
                                retry(1),
                                catchError(this.errorHandle) <br>
                         </p>
                        <h4>Import </h4>
                        <p> Observable from rxjs</p>
                        <p> catchError form rxjs/operators</p>
                        <p>retry form rxjs/operators</p>
                            
                        <p>
                            errorHandle(error: HttpErrorResponse) curlyBrace
                                alert("Error 404");
                                return throwError(error.message);
                                

                        </p>
                        <h4>Import </h4>
                        <p>throwError from rxjs</p>
                    </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h4 class="card-title text-center bg-success text-white p-2">
                    Component.ts
                </h4>
                <div class="card-text p-2" >
                    <p>
                        1.Dependency injection in constructor(private _myService:serviceName.service)
                        and makesure import.
                    </p>
                    <p>
                        2. Subscribe <br>
                         a. make property: ProrertyName=
                         <br>
                         b.errorMessage:any <br>
                         c. inside ngOnInit:  this._myservice.methodName()
                         .Subscribe (mydata => 
                         propertyName = mydata, error => this.errorMessage =error)

                         and bind property in view.
                    </p>

            </div>
        </div>
    </div>
</div>




