
<div class="myContainer">
    <div class="topHead">    
    </div>
   
    <div class="bodyPart">
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-md-3 myNav" >
                    <div id="nav">
                        <app-top-nav></app-top-nav>
                    </div>
                 
                </div>
                <div class="col-md-9 bg-light mainBody">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
       
        
        <div class="main">
            <!-- <app-header></app-header>
            
            <div id="textBody">
                <app-textsec1></app-textsec1>
                <app-textsec2></app-textsec2>
            </div>
            <div class="clear"></div> -->
            
        </div><br>
    
    
        <div id="theory">
            <!-- <app-binding></app-binding> -->
        </div>
        <!-- <div id="directive">
            <app-directives></app-directives>
        </div> -->
       
    </div>


</div>



