<form >
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="">Name</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group col-md-4">
                <label for="">Salary</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group col-md-2">
                <label for="">Age</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group colo-md-2">
                <label for="">Delete</label><br>
                <span class="btn btn-danger">-</span>
            </div>
           
        </div>
        <span class="btn btn-success mr-2" >+</span>
        <button class="btn btn-primary">Submit</button>
        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Ea inventore illo delectus,
                 ad aspernatur sapiente consequatur quo quaerat
                  soluta, aperiam suscipit nam, deserunt
                 possimus vel impedit. Possimus fuga tempora exercitationem.
             </p>
        </div>
    </div>
</form>

