<div  class=" p-3">
    <button (click)="goPrevious()" class="btn btn-info m-3">Previous</button>
    <button (click)="goNext()" class="btn btn-info">Next</button>
    
    <h3>You are Selected department with id = {{departmentId}}</h3>
  
    {{depLength}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolor sunt minima modi excepturi atque quibusdam dolorum 
        debitis corrupti, quis aliquid iure assumenda iste sed similique 
        doloremque architecto qui fugiat libero.
    </p>
     <button (click) = "goToDepartments() " class="btn btn-primary">Back</button>
</div>

