<h3 class="bg-info p-2 text-center text-white">Ng Content</h3>
<p class="p-3">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Recusandae reiciendis non amet. Reiciendis quam commodi numquam, 
    fuga nostrum, consequatur id officiis cupiditate obcaecati quia 
    suscipit quis nesciunt quod! Earum, optio.
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title ">Mobile</h5>  
                <a  routerLinkActive="productActive" routerLink="mobile" class="btn btn-success"> Know More About Mobile</a> 
            </app-card>
        </div>

        <div class="col-md-6">
            <app-card>
                <h5 class="card-title ">TV</h5>
                <a  routerLinkActive="productActive" routerLink="mobile" class="btn btn-success"> Know More About TV</a>
            </app-card>
        </div>

        <div class="col-md-6">
            <app-card>
                <h5 class="card-title ">Laptop</h5>
                <a  routerLinkActive="productActive" routerLink="mobile" class="btn btn-success"> Know More About Laptop</a>
            </app-card>
        </div>

        <div class="col-md-6">
            <app-card>
                <h5 class="card-title ">Camera</h5>
                <a  routerLinkActive="productActive" routerLink="mobile" class="btn btn-success"> Know More Camera</a>
            </app-card>
        </div>
    </div>
    
</div>

