<h2 class="bg-info text-white text-center">Subject</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6" >
            <div class = "bg-info p-2 text-white gap">
                <app-sub-one></app-sub-one>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class = "bg-info p-2 text-white gap">
                <app-sub-two></app-sub-two>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class = "bg-info p-2 text-white gap">
                <app-sub-three></app-sub-three>
            </div>
        </div>
        <div class="col-md-6">
            <div class = "bg-info p-2 text-white gap">
                <app-sub-four></app-sub-four>
            </div>
        </div>
      
    </div>
</div>

