<div class="service p-3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        In est aperiam eligendi adipisci, voluptatibus repellat 
        saepe nam! Quasi in totam ipsam,
         nihil voluptates soluta voluptatem nam natus aperiam
          necessitatibus eum?
        </p>

        <div class="row">
            <div class="col-md-6">
                <app-s-one></app-s-one>
            </div>

            <div class="col-md-6">
                <app-s-two></app-s-two>
            </div>
        </div>
</div>
