<div class="topNav">
    <header>
        <!-- <div class="logo">
            logo
        </div> -->
        <nav>
            <ul>

                <!-- <li><a [routerLinkActiveOptions]= " {exact:true}"routerLinkActive= " active" routerLink="/">binding</a></li> -->
                <li><a routerLinkActive = "active" routerLink = "/binding">binding</a></li>
                <li><a routerLinkActive = "active" routerLink = "/form">Form</a></li>
                <li><a routerLinkActive = "active" routerLink = "/ngContainer">Ng Container</a></li>
                <li><a routerLinkActive = "active" routerLink = "/test">Test</a></li>
                <li><a routerLinkActive = "active" routerLink = "/directive">Directive</a></li>
                <li><a routerLinkActive = "active" routerLink = "/product">Product</a></li>
                <li><a routerLinkActive = "active" routerLink = "/routerNavigate">Router Navigate</a></li>
                <li><a routerLinkActive = "active" routerLink = "/ngContent">Ng Conent</a></li>
                <li><a routerLinkActive = "active" routerLink = "/input">Input/Output</a></li>
                <li><a routerLinkActive = "active" routerLink = "/componentInteraction">C Interaction </a></li>
                <li><a routerLinkActive = "active" routerLink ="/service">Service</a></li>
                <li><a routerLinkActive = "active" routerLink ="/observable">Observable</a></li>
                <li><a routerLinkActive = "active" routerLink="/myOutput">My Output</a></li>
                <li><a routerLinkActive = "active" routerLink="/routePara"> Route Parameters</a></li>
                <li><a routerLinkActive = "active" routerLink = "/paraRoute"> Para Route</a></li>
                <li><a routerLinkActive = "active" routerLink ="/errorHandling">Error Handling</a></li>
                <li><a routerLinkActive = "active" routerLink = "/viewchild">Viewchild</a></li>
                <li><a routerLinkActive = "active" routerLink ="/viewChildRender">View child Render</a></li>
                <li><a routerLinkActive = "active" routerLink = "/myPipe">Pipe</a></li>
                <li><a routerLinkActive = "active" routerLink = "/subject">Subject</a></li>
                <li><a routerLinkActive = "active" routerLink = "/projectOne">Project One</a></li>
                <li><a routerLinkActive = "active" routerLink = "/templateDF">Template Driven Form</a></li>
                <li><a routerLinkActive = "active" routerLink = "/reactiveForm">Reactive Form</a></li>
                <li><a routerLinkActive = "active" routerLink ="/inputTest">InOut</a></li>
            </ul>
        </nav>
    </header>
    
</div>