

 .logo{
    height: 60px; 
  line-height: 60px; 
    color:rgb(255, 255, 255);
    font-size: 20px;
    padding: 0 20px;
   /* float: left;
   width: 20%; */
     
}

.topNav nav{
   position: sticky;  
   top:0;
}

/* .topNav nav ul {
    display: flex;
    margin: 0;
		padding: 0;
} */

.topNav nav ul {
    display:block;
    /* margin-left: 20px; */
	/* padding: 10px; */
}

/* .topNav nav ul li {
    list-style: none;
    line-height: 60px; 
  
} */

.topNav nav ul li {
    list-style: none;
    line-height: 20px; 
    display: block;
    width: 100%;
  
}

.topNav nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255); 
    height: 40px;
    line-height: 40px; 
    padding: 0 20px;
    display: block;
    text-transform: uppercase;
    transition: .5s;
}

.topNav nav ul li a:hover{
    background-color: rgb(71, 255, 157);
}

.active{
    background-color: tomato;
}