.redHead{
    background-color: rgb(235, 125, 125);
    border: 1px solid rgb(235, 96, 96)
    
  }
  
  .greenHead{
    background-color: rgb(166, 219, 166);
     border: 1px solid rgb(119, 207, 119);
  }